.lista-redes {
	i {
		background-color: #000 !important;
	}
}

.canais-contato {
	i, span, a, & a:hover, & span:hover {
		color: black;
	}
}

@media (min-width:1180px) {
	body {
		background: #fff !important;
	}
}