@import "includes/social-media";

.fundo-secundario {
  background-color: #EEE;
  color: #000 !important;
}

#rodape .institucional {
  min-height: 0;
}

.conteiner-principal .conteiner {
  /* background-color: #fff; */
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.listagem-item{
  /*background-color: #fff !important;*/
}

#rodape .institucional {
  background-image: none;
}

.pagamento-selos {
  background: none;
}

.menu.superior {
  display: none;
}

.selos {
  display: none !important;
}
.listagem .listagem-linha {
  border-width: 0;
}

#listagemProdutos h4 {
  display: none;
}

.fundo-secundario, .fundo-secundario *, .fundo-secundario *:hover, .fundo-secundario:hover, .fundo-secundario.botao:hover {
  color: #703693;
}

/* mais vendidos */

.sugestoes .ver-mais {
  border-width: 0 1px 1px 0 !important;
  width: 99px !important;
  background-color: #EEE !important;
  color: #703693 !important;
}

.sugestoes .ver-mais:hover {
  background-color: #703693 !important;
  color: #EEE !important;
}

.sugestoes .comprar {
  display: none !important;
}

/* preço produto */

.preco-promocional {
  font-size: 18px !important;
}

/* outras categorias na pagina de categoria */

.menu.lateral.outras {
  margin-top: -20px;
}

.menu.lateral.outras li .titulo {
  font-size: 16px;
}

.menu .nivel-dois li:hover, .menu.lateral.outras .nivel-um li:hover a {
  background-color: #FFF;
}

/* links */

a {
  font-weight: 600;
  color: #703693;
}

.banner.vitrine p {
  display: none;
}

/* menu de comprar flutuante */

.acoes-flutuante {
  display: none !important;
}

/* produtos relacionados */
.aproveite-tambem {
  padding: 20px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.aproveite-tambem .titulo {
  margin: 0 0 15px 0;
}

/* imagem detalhe do produto */

.fancybox-overlay {
  background: rgba(180, 180, 180, 0.95) !important;
}

/* carrinho de compra no mobile */

@media (max-width: 768px) {
  .icon-shopping-cart {
    color: #FFF !important;
  }
}

.bandeira-promocao {
//  display: none;
  background-color: #000;
}
.bandeira-promocao:after {
  content: ' Black Friday';
}